<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.fund.mapper.FundUseRecordMapper">
  <resultMap id="r" type="FundUseRecord"><id property="useRecordId" column="use_record_id"/><result property="usePlanId" column="use_plan_id"/><result property="useName" column="use_name"/><result property="amount" column="amount"/><result property="useTime" column="use_time"/><result property="fundDesc" column="fund_desc"/><result property="voucherUrls" column="voucher_urls"/><result property="submitUserId" column="submit_user_id"/><result property="submitUserName" column="submit_user_name"/><result property="createBy" column="create_by"/><result property="createTime" column="create_time"/><result property="updateBy" column="update_by"/><result property="updateTime" column="update_time"/></resultMap>
  <select id="selectById" resultMap="r">select * from fund_use_record where use_record_id=#{useRecordId} and del_flag='0'</select>
  <select id="selectByPlanId" resultMap="r">select * from fund_use_record where use_plan_id=#{usePlanId} and del_flag='0' order by use_time desc,use_record_id desc</select>
  <select id="sumByPlanId" resultType="java.math.BigDecimal">select coalesce(sum(amount),0) from fund_use_record where use_plan_id=#{usePlanId} and del_flag='0'</select>
  <select id="sumByTopicId" resultType="java.math.BigDecimal">select coalesce(sum(r.amount),0) from fund_use_record r join fund_use_plan p on p.use_plan_id=r.use_plan_id and p.del_flag='0' where p.topic_id=#{topicId} and r.del_flag='0'</select>
  <select id="countByPlanId" resultType="int">select count(1) from fund_use_record where use_plan_id=#{usePlanId} and del_flag='0'</select>
  <insert id="insert" useGeneratedKeys="true" keyProperty="useRecordId">insert into fund_use_record(use_plan_id,use_name,amount,use_time,fund_desc,voucher_urls,submit_user_id,submit_user_name,create_by,create_time) values(#{usePlanId},#{useName},#{amount},#{useTime},#{fundDesc},#{voucherUrls},#{submitUserId},#{submitUserName},#{createBy},sysdate())</insert>
  <update id="update">update fund_use_record set use_name=#{useName},amount=#{amount},use_time=#{useTime},fund_desc=#{fundDesc},update_by=#{updateBy},update_time=sysdate() where use_record_id=#{useRecordId} and del_flag='0'</update>
  <update id="deleteById">update fund_use_record set del_flag='2',update_time=sysdate() where use_record_id=#{useRecordId}</update>
</mapper>
