<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.fund.mapper.FundAllocationRecordMapper">
  <resultMap id="r" type="FundAllocationRecord"><id property="recordId" column="record_id"/><result property="planId" column="plan_id"/><result property="allocationName" column="allocation_name"/><result property="amount" column="amount"/><result property="allocationTime" column="allocation_time"/><result property="fundDesc" column="fund_desc"/><result property="voucherUrls" column="voucher_urls"/><result property="submitUserId" column="submit_user_id"/><result property="submitUserName" column="submit_user_name"/><result property="createBy" column="create_by"/><result property="createTime" column="create_time"/><result property="updateBy" column="update_by"/><result property="updateTime" column="update_time"/></resultMap>
  <select id="selectById" resultMap="r">select * from fund_allocation_record where record_id=#{recordId} and del_flag='0'</select>
  <select id="selectByPlanId" resultMap="r">select * from fund_allocation_record where plan_id=#{planId} and del_flag='0' order by allocation_time desc,record_id desc</select>
  <select id="sumByPlanId" resultType="java.math.BigDecimal">select coalesce(sum(amount),0) from fund_allocation_record where plan_id=#{planId} and del_flag='0'</select>
  <select id="sumByTopicId" resultType="java.math.BigDecimal">select coalesce(sum(r.amount),0) from fund_allocation_record r join fund_allocation_plan p on p.plan_id=r.plan_id and p.del_flag='0' where p.topic_id=#{topicId} and r.del_flag='0'</select>
  <select id="countByPlanId" resultType="int">select count(1) from fund_allocation_record where plan_id=#{planId} and del_flag='0'</select>
  <insert id="insert" useGeneratedKeys="true" keyProperty="recordId">insert into fund_allocation_record(plan_id,allocation_name,amount,allocation_time,fund_desc,voucher_urls,submit_user_id,submit_user_name,create_by,create_time) values(#{planId},#{allocationName},#{amount},#{allocationTime},#{fundDesc},#{voucherUrls},#{submitUserId},#{submitUserName},#{createBy},sysdate())</insert>
  <update id="update">update fund_allocation_record set allocation_name=#{allocationName},amount=#{amount},allocation_time=#{allocationTime},fund_desc=#{fundDesc},voucher_urls=#{voucherUrls},update_by=#{updateBy},update_time=sysdate() where record_id=#{recordId} and del_flag='0'</update>
  <update id="deleteById">update fund_allocation_record set del_flag='2',update_time=sysdate() where record_id=#{recordId}</update>
</mapper>
